@import url("https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  --orange: #dc780b;
  --muted: #150c018c;
  --dark: #150c01;

  --Philosopher: "Philosopher", sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.justify__around{
  justify-content: space-evenly;
}

.justify-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}
.row {
  flex-direction: row;
}
.column {
  flex-direction: column;
}

.items-center {
  align-items: center;
}
.text__center{
  text-align: center;
}

.nav-items {
  list-style: none;
  gap: 15px;
}

.nav__btn{
  width: 130px;
  height: 40px;
  background-color: #fff;
  border: 1px solid var(--muted);
  border-radius: 5px;
  color: var(--orange);
  transition: .3s;
}

.nav__btn:hover{
  background-color: var(--orange);
  color: #fff;
  border: none;
  cursor: pointer;
}

.nav-items li a {
  color: var(--muted);
  text-decoration: none;
}

.nav-items li a:hover {
  color: var(--orange);
}

nav {
  position: sticky;
  top: 0;
  background-color: white;
  padding: 30px 0 15px;
  box-shadow: 0 5px 8px var(--muted);
}

.header__items{
  width: 50%;
  padding-top: 150px;
  gap: 20px;
}

.header__items h2{
  font-family: var(--Philosopher);
  font-size: 54px;
}

.header__img img{
  width: 100%;
}

.header__img{
  width: 50%;
}

.header__btns{
  gap: 15px;
}

.head__btn01{
  width: 140px;
  height: 50px;
  border-radius: 5px;
  border: 1px solid var(--muted);
  color: var(--orange);
  background-color: #fff;
  transition:.3s ;
}

.head__btn01:hover{
  background-color: var(--orange);
  color: #fff;
  border: none;
  cursor: pointer;
}

.main__title {
  gap: 15px;
  margin-top: 50px;
}

.main__title p:first-child {
  color: var(--orange);
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 500;
}

.main__title h2 {
  font-size: 32px;
  font-weight: bold;
  font-family: var(--Philosopher);
}

.main__title p:last-child{
    color: var(--muted);
    font-size: 16px;
    font-weight: 400;
    width: 750px;
    text-align: center;
    line-height: 24px;
}


.main__cards{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 25px;
    margin-top: 60px;
}

.main__card{
    width: calc(100% / 3 - 25px);
    height: auto;
    border: 1px solid var(--muted);
    border-radius:  90px 16px 16px 16px;
    overflow: hidden;
}

.main__card .main__card--img img{
    width: 100%;
    border-radius: 90px 0 ;
}

.main__card .main__content{
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.main__card--name--cost{
    /* font-family: var(--Philosopher) !important; */
    font-weight: bold;
    font-size: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main__card--name--cost span{
    font-family: var(--Philosopher);
}

.main__card--rating{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.main__card--rating button{
  width: 30px;
  height: 30px;
  border-radius: 4px;
  border: none;
  background-color: var(--orange);
  color: #fff;
  font-size: 20px;
}


.main__card--star{
    color: var(--orange);
}

.main__card--star .fa-star:last-child{
    color: var(--muted);
}

.main__btn{
  margin: 20px 550px;
  width: 120px;
  height: 35px;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid var(--muted);
  color: var(--orange);
  outline: none;
  transition: .3s;
}

.main__btn:hover{
  background-color: var(--orange);
  border: none;
  color: #fff;
}


footer{
    width: 100%;
    height: 429px;
    background-color: #252525;
}

section{
  margin-top: 50px;
}

.section__items{
  text-align: center;
}

.section__items p{
  color: var(--orange);
  text-transform: uppercase;
}

.section__items h3{
  font-size: 30px;
  font-weight: 600;
  font-family: var(--Philosopher);
}


.section__cards{
  margin-top: 20px;
  justify-content: space-around;
}

.card{
  text-align: center;
  font-family: var(--Philosopher);
}

.right{
  margin-left: 87px;
  gap: 20px;
}

.right h5{
  color: var(--orange);
  text-transform: uppercase;
  word-spacing: 2px;
}

.right h3{
  font-size: 30px;
  font-family: var(--Philosopher);
}

.sect02__btn{
  width: 120px;
  height: 35px;
  background-color: #fff;
  color: var(--orange);
  border: 1px solid var(--muted);
  border-radius: 5px;
  transition: .3s;
}

.sect02__btn:hover{
  background-color: var(--orange);
  color: #fff;
  border: none;
  cursor: pointer;
}

.item03{
  color: var(--orange);
}

.sect03__items h3{
  font-size: 30px;
  font-family: var(--Philosopher);
}

.form__section{
  background-color: #FCF2E7;
  height: 300px;
  text-align: center;
}

.sect04__items{
  padding-top: 40px;
  gap: 20px;
}

.sect04__items p{
  color: var(--orange);
}

.sect04__items h3{
  font-size: 30px;
  font-family: var(--Philosopher);
}

.sect04__items form{
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 650px;
  background-color: #fff;
  height: 60px;
  border-radius: 10px;
}

.sect04__items form input{
  outline: none;
  border: none;
}

.form__btn{
  width: 120px;
  height: 60px;
  border: none;
  border-radius: 5px;
  background-color: var(--orange);
  color: #fff;
}

.footer__cards{
  padding-top: 140px;
}

.foot__card{
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: #fff;
}

.foot__card img{
  width: 60px;
  height: 60px;
}


.footer__card i{
  border-radius: 50%;
  color: #fff;
}
